*{
    padding: 0;
    margin: 0;
}

body{
    background-color: beige;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
}

.book{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    min-width: 200px;
    min-height: 200px;
    margin: 10px;
}


.books{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vh;
    flex-wrap: wrap;
    padding: 20px;
}

