@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f0fdf4;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: lato, sans-serif;
}

.book{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    min-width: 200px;
    min-height: 300px;
    max-width: 200px;
    max-height: 300px;
    margin: 10px;
    line-height: 2.5rem;
    padding: 20px;
}

.read-button{
    color:#f0fdf4;
    border: none;
    padding: 0.5rem 0.5rem;
    border-radius: 24px;
} 

.books{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vh;
    flex-wrap: wrap;
}

svg{
    height: 5rem;
    width: auto;
}

.add-button{
    border: none;
    background-color: transparent;
}

.add-button svg{
    fill: #16a34a;
}

.add-button :hover{
    fill: #166534;
}

.modal{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;

    max-width: 15em;
    min-height: 10em;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

form p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.submit-button{
    border-radius: 24px;
    width: 50px;
    border: none;
    background-color: #16a34a;
    color: #f0fdf4;
}

.submit-button:active{
    color: black;
}

.error-message-space{
    color: red;
}


input:focus{
    border:2px solid #16a34a;
    outline: none;
    box-shadow: none;
}